/* .gradient{
    width: 100%;
    height: 500px;
    /* background-color: green; */
    /* background-image: linear-gradient(to top right, green,blue,red,black); */
       /* /* background-image: radial-gradient(green,blue,red); */
       /* background-image: conic-gradient(green,blue,red) ; 
}*/ 
section{
    border-radius: 50%;
    height: 250px;
    width: 250px;
    background-color: red;
    box-shadow:  5px 5px 8px 0px blue,0px 5px 8px 10px yellow;
    
}
.text-shadow{
    color: red;
    text-shadow: 2px 2px 5px green;
}